<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Song Mash</title>
  </head>

  <body>
    <h1>Song Mash</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <!-- Insert Your Form Below -->
  <form method= "POST" action = "/song">
    <p>Song Name: <input type= "text" name= "song1"></p>
    <p> Song Name: <input type="text" name= "song2"></p>
    <input type= "submit">
  </form>
  </body>
</html>

